.featured {
  height: 600px;
  display: flex;
  justify-content: center;
  background-color: #f8f4f0;
  color:#0c0c18;

  .container{
    width: 1400px;
    display: flex;
    align-items: center;

    .left {
      display: flex;
      flex-direction: column;
      gap: 30px;

      h1{
        font-size: 50px;

        i{
          font-weight: 300;
          text-decoration: 1px underline #ff1800;
        }
      }

      p{
        font-size: 18px;
      }

      .search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        border-radius: 5px;
        .searchInput{
          display: flex;
          align-items: center;
          gap: 10px;

          img{
            width: 20px;
            height: 20px;
            margin: 10px;
          }

          input{
            border: none;
            outline: none;
          }
        }
        button {
          width: 120px;
          height: 50px;
          border: none;
          background-color: #ff1800;
          color: white;
          cursor: pointer;
        }
      }

      .popular{
        display: flex;
        align-items: center;
        gap: 10px;
        span{
          text-decoration: 1px underline #ff1800;
        }
        button{
          color: #0c0c18;
          background-color: transparent;
          border: 1px solid #0c0c18;
          padding: 5px 10px;
          border-radius: 20px;
          font-size: 14px;
          cursor: pointer;
        }
      }

    }
    .right{
      height: 100%;

      img{
        height: 100%;
        object-fit: contain;
      }
    }
  }
}