.catCard {
  width: 252px;
  height: 344px;
  color: white;
  border-radius: 5px;
  position: relative;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .desc {
    font-weight: 500;
    position: absolute;
    top: 15px;
    left: 15px;
    color: #0c0c18;
  }

  .title {
    position: absolute;
    top: 40px;
    left: 15px;
    font-size:24px;
    font-weight: 00;
    color: #0c0c18;
    text-decoration: 1px underline #ff1800;
  }
}